body {
    background-color: rgba(39, 64, 96, 1)
}

.drum-key {
    display: inline-block;
    border: 2px solid rgba(101, 175, 255, 1);
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    /*line-height: 90px;*/
    box-shadow: 2px;
    transition: all 1s;
    box-shadow: 4px 5px 12px rgba(88, 153, 226, 1);
    background: rgba(51, 92, 129, 1);
    margin: 10px 10px;
        font-size: x-large;
}

.drum-name {
        font-size: small;
}

.drum-key-letter {
    padding-top: 19px;
}

.row {
    text-align: center;
    margin-top: 25%;
}

.playing {
    transform: scale(1.1);
    border: 2px solid rgba(101, 43, 255, 1);
}