body {
    background-color: rgba(39, 64, 96, 1)
}

.drum-key {
    display: inline-block;
    border: 2px solid rgba(101, 175, 255, 1);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: 2px;
    box-shadow: 4px 5px 12px rgba(88, 153, 226, 1);
    background: rgba(51, 92, 129, 1);
    margin: 10px 10px;
}

.row {
    text-align: center;
}

.playing {
    transform: scale(1.1);
    border: yellow;
}